.container{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12rem;
    padding: 12px;

    text-align: center;
    background: darkgray;
    border: 5px solid black;
    border-radius: 5px;
}

.out {
    margin-bottom: 2rem;
}

input{
    text-align: right;
}


button{
    margin: 4px;
    width: 4rem;
}